.site-nav {
  display: flex;
  margin: 0;
  padding: 0.5em;
  list-style-type: none;
  background-color: #5f4b44;
  border-radius: 0.2em;
}

.site-nav > li + li {
  margin-left: 1.5em;
}

.site-nav > li:last-of-type {
  margin-left: auto;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}
